<!DOCTYPE html>
<html>

<head>
    <title>Trang web của tôi</title>
    <link rel="stylesheet" type="text/css" href="./../../style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <div class="content">
                <div class="box">
                    <h2>Thống kê</h2>
                </div>
                <div class="box">
                    <h2>Biểu đồ</h2>
                </div>
                <div class="box">
                    <h2>Video</h2>
                </div>
                <div class="box">
                    <h2>Báo cáo</h2>
                </div>
            </div>
        </div>

    </header>

</body>

</html>